<footer class="page-footer grey">
    <p class="right-align">por: Fernando Vasques</p>
</footer>
<script>
    $(document).ready(function(){
        $('.dropdown-trigger').dropdown();
    });
</script>