<!DOCTYPE html>
<html>
    <head>
        <%- include('shared/head'); %>
    </head>
    <body>
        <%- include('shared/nav-bar'); %>
        <h1>Ola Mundo!</h1>
        <%- include('shared/footer'); %>
    </body>

</html>