.container {
    min-height: 80vh !important;
}
.post-card {
    padding: 10px 10px;
    margin-top: 20px;
}
.signup-form {
    margin-top: 25px !important;
}

.pagination li.active {
    cursor: pointer;
    background-color: #895e60;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin-top: 1em;
}

table {
    margin: 1em 0 1em 0;
}